/categories/*

/watched.json
/ignored.json
/categories/
/.idea/vcs.xml
/.idea/youtube_rss_reader.iml
/.idea/workspace.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/broken.json
/skip.json